/*Google fonts link for poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,400&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
 
.intro{
    background-image: url(../images/screenback.png);
    background-repeat: no-repeat;
    background-size: cover;
   
    position: relative;
    background-position: center;

} 
.shopname{
    color: white;
    font-size: 70px;
    text-transform: uppercase;
    margin-right: 4%;
}  

.shopname1{
    color: white;
    font-size: 70px;
    text-transform: uppercase;
    margin-right: 4%;
}  

.fa-pizza-slice{
    animation:  icon 5s ease infinite;
}
@keyframes icon {
    25%{
        transform: translateY(-1.5rem);
    }
    50%{
        transform: translateY(-1.5rem);
    }
    
}
.motto{
    color: white;
    font-style: italic;
    font-weight: bold;
    font-family: 'Caveat', cursive;
    font-size: 24px;
    margin-left: 58%;
    margin-bottom: 4%;

    

}
.order{
    margin-left: 73%;
    width: 20%;
    height: 60px;
    border-radius: 12px;
    background-color: transparent;
    border: 2px solid white;
    color: wheat;

    font-weight: bold;    
}
/*Adding hover effect to orderbutton*/
.order:hover{
    color: #001F3F;
    background-color: #fff;
    letter-spacing: 4px;
}

.welcome{
    margin-top: 2%;
    margin-left: 15%;
    text-align: center;
    color:black;
}




body{
    background-color: white;
}

.navbar .navbar-brand{
    color: white;
    font-size: 30px;
}
.nav-link{
    color: white;
}
.start-order{
   width: 107%;
   height: 40px;
   border-radius: 20px;
   border: 2px solid white;
   background-color: wheat;
   color: black;

}
.start-order:hover{
    color: yellow;
    background-color: black;
    text-decoration: none;
}

#category{
   
    margin-top: 5%;
}
.cat-img{
    height: 200px;
}

h5{
    color: palevioletred;
    cursor: pointer; 

}

a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:visited{
    color: black;
}
a:active{
    color: wheat;
}

#delivery{
    margin-top: 4%;

}
/*feedback form*/
.form-control{
    background-color: transparent;
    border-radius: 12px;
    border:2px solid palevioletred
}
#email{
    margin-top: 4%;
}
input::placeholder {
    color: black !important;
    opacity: 1;
}
.form-control::placeholder{
    color: black;
}
.submit{
    margin-top: 3%;
    margin-left: 40% ;
    width: 30%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid palevioletred;
    background-color: transparent;
    color: black;
}
.submit:hover{
    background-color: black;
    color: yellow;
}

#submit-order{
    margin-left: 40%;
    margin-top: 2%;
    width: 20%;
    height: 40px;
    border-radius: 20px;
    background-color:black;
    border: 2px solid palevioletred;
    color: white;
}
#submit-order:hover{
    background-color: transparent;
    color: black;
}
